{% extends 'common/base.html' %}

{% load static %}


<!-- Title-->
{% block title_principal %}
    DECAM OK OK 
{% endblock title_principal %}


{% block breadcrumb %}
<!-- Hero -->
<div class="bg-body-light">
    <div class="content content-full">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
            <h1 class="flex-grow-1 fs-3 fw-semibold my-2 my-sm-3">Main Title</h1>
            <nav class="flex-shrink-0 my-2 my-sm-0 ms-sm-3" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Pages</li>
                    <li class="breadcrumb-item">Generic</li>
                    <li class="breadcrumb-item active" aria-current="page">Blank</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- END Hero -->
{% endblock breadcrumb %}
    

{% block page_content %}
<!-- Your Block -->
<div class="block block-rounded">
    <div class="block-header block-header-default">
        <h3 class="block-title">Block Title</h3>
    </div>
    <div class="block-content">
        Este es un ejemplo de un bloque de contenido. Puede contener cualquier cosa que desee.
    </div>
</div>
<!-- END Your Block -->                   
{% endblock page_content %}  