{% extends 'base/admin/index.html' %}

{% block title %} Este es un {% endblock title %}

{% block title_page %}
    titulo de pagina
{% endblock title_page %}+


{% block description %}
    
{% endblock description %}
    


{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">
    <span class="fw-medium">Extra Pages</span>
</li>
<li class="breadcrumb-item active" aria-current="page">
    <span class="fw-medium">Final no va más</span>
</li>
{% endblock breadcrumb %}


{% block content %}
<div class="card bg-white border-0 rounded-3 mb-4">
    <div class="card-body p-4">
        
    </div>
</div>
{% endblock content %}
    

{% block scripts %}
    
{% endblock scripts %}
    