{% extends 'base/site/index.html' %}
{% load static %}

{% block title %} Este es un {% endblock title %}

{% block title_page %}
    DECAM 
{% endblock title_page %}+

{% block description %} {% endblock description %}

{% block breadcrumb %} {% endblock breadcrumb %}


{% block content %}
<div class="th-hero-wrapper hero-1" id="hero">
    <div class="swiper th-slider hero-slider1" id="heroSlide1" data-slider-options='{"effect":"fade", "autoHeight": "true"}'>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="hero-inner" data-bg-src="{% static 'site/img/hero/hero_bg_1_1.jpg' %}" data-overlay="black4" data-opacity="5">
                    <div class="hero-bg-shape1-1">
                        <img src="{% static 'site/img/hero/hero-bg-shape1-1.png' %}" alt="img">
                    </div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-12">
                                <div class="hero-style1 text-center">
                                    <span class="sub-title justify-content-center" data-ani="slideinup" data-ani-delay="0.2s">Give Hope For Homeless</span>
                                    <h1 class="hero-title text-white">
                                        <span class="title1" data-ani="slideinup" data-ani-delay="0.4s">
                                            Helping Each Other Can </span>
                                        <span class="title1" data-ani="slideinup" data-ani-delay="0.4s">
                                            Make World Better </span>
                                    </h1>
                                    <div class="btn-wrap justify-content-center" data-ani="slideinup" data-ani-delay="0.7s">
                                        <a href="contact.html" class="th-btn style4">Discover Now <i class="fas fa-arrow-up-right ms-2"></i></a>
                                        <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="th-btn style5 popup-video"><i class="fas fa-play me-2"></i> Watch Video</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="swiper-slide">
                <div class="hero-inner" data-bg-src="{% static 'site/img/hero/hero_bg_1_2.jpg' %}" data-overlay="black4" data-opacity="5">
                    <div class="hero-bg-shape1-1">
                        <img src="{% static 'site/img/hero/hero-bg-shape1-1.png' %}" alt="img">
                    </div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-12">
                                <div class="hero-style1 text-center">
                                    <span class="sub-title justify-content-center" data-ani="slideinup" data-ani-delay="0.2s">Welcome to Donat Charity</span>
                                    <h1 class="hero-title text-white">
                                        <span class="title1" data-ani="slideinup" data-ani-delay="0.4s">
                                            Every Donation Counts </span>
                                        <span class="title1" data-ani="slideinup" data-ani-delay="0.4s">
                                            Every Heart Matters </span>
                                    </h1>
                                    <div class="btn-wrap justify-content-center" data-ani="slideinup" data-ani-delay="0.7s">
                                        <a href="contact.html" class="th-btn style4">Discover Now <i class="fas fa-arrow-up-right ms-2"></i></a>
                                        <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="th-btn style5 popup-video"><i class="fas fa-play me-2"></i> Watch Video</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}
    

{% block scripts %}
    
{% endblock scripts %}