{% extends 'base/site/index.html' %}
{% load static %}

{% block title %} Este es un {% endblock title %}

{% block title_page %}
    Prodcutos
{% endblock title_page %}+


{% block description %}
    
{% endblock description %}
    


{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">
    <span class="fw-medium">Extra Pages</span>
</li>
<li class="breadcrumb-item active" aria-current="page">
    <span class="fw-medium">Final no va más</span>
</li>
{% endblock breadcrumb %}


{% block content %}

{% endblock content %}
    

{% block scripts %}
    
{% endblock scripts %}