{% load static %}


<div class="content">
    <div class="bg-body-light p-3 rounded push">
        <!-- Toggle Navigation -->
        <div class="d-lg-none">
            <!-- Class Toggle, functionality initialized in Helpers.dmToggleClass() -->
            <button type="button" class="btn w-100 btn-light d-flex justify-content-between align-items-center"
                data-toggle="class-toggle" data-target="#horizontal-navigation-hover-normal" data-class="d-none">
                Menu
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <!-- END Toggle Navigation -->
    
        <!-- Navigation -->
        <div id="horizontal-navigation-hover-normal" class="d-none d-lg-block mt-2 mt-lg-0">
            <ul class="nav-main nav-main-horizontal nav-main-hover">
                <li class="nav-main-item">
                    <a class="nav-main-link active" href="javascript:void(0)">
                        <i class="nav-main-link-icon fas fa-home"></i>
                        <span class="nav-main-link-name">Inicio</span>
                    </a>
                </li>
                <li class="nav-main-item">
                    <a class="nav-main-link " href="javascript:void(0)">
                        <i class="nav-main-link-icon fas fa-users"></i>
                        <span class="nav-main-link-name">Nosotros</span>
                    </a>
                </li>
                <li class="nav-main-item">
                    <a class="nav-main-link " href="javascript:void(0)">
                        <i class="nav-main-link-icon fas fa-box-open"></i>
                        <span class="nav-main-link-name">Productos</span>
                    </a>
                </li>
                <li class="nav-main-item">
                    <a class="nav-main-link " href="javascript:void(0)">
                        <i class="nav-main-link-icon fas fa-headset"></i>
                        <span class="nav-main-link-name">Contacto</span>
                    </a>
                </li>
                {% comment %} <li class="nav-main-item">
                    <a class="nav-main-link active" href="be_ui_navigation_horizontal.html">
                        <i class="nav-main-link-icon fa fa-rocket"></i>
                        <span  class="nav-main-link-name">Contacto</span>
                        <span class="nav-main-link-badge badge rounded-pill bg-success">3</span>
                    </a>
                </li>
                <li class="nav-main-heading">Manage</li>
                <li class="nav-main-item">
                    <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true"
                        aria-expanded="false" href="#">
                        <i class="nav-main-link-icon fa fa-boxes"></i>
                        <span class="nav-main-link-name">Products</span>
                    </a>
                    <ul class="nav-main-submenu">
                        <li class="nav-main-item">
                            <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true"
                                aria-expanded="false" href="#">
                                <i class="nav-main-link-icon fab fa-wordpress"></i>
                                <span class="nav-main-link-name">WordPress Theme</span>
                            </a>
                            <ul class="nav-main-submenu">
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="javascript:void(0)">
                                        <i class="nav-main-link-icon fa fa-pencil-alt"></i>
                                        <span class="nav-main-link-name">Description</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="javascript:void(0)">
                                        <i class="nav-main-link-icon fa fa-chart-pie"></i>
                                        <span class="nav-main-link-name">Statistics</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="javascript:void(0)">
                                        <i class="nav-main-link-icon fa fa-chart-line"></i>
                                        <span class="nav-main-link-name">Sales</span>
                                        <span class="nav-main-link-badge badge rounded-pill bg-primary">260</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="javascript:void(0)">
                                        <i class="nav-main-link-icon far fa-image"></i>
                                        <span class="nav-main-link-name">Media</span>
                                        <span class="nav-main-link-badge badge rounded-pill bg-primary">2</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="javascript:void(0)">
                                        <i class="nav-main-link-icon far fa-file"></i>
                                        <span class="nav-main-link-name">Files</span>
                                        <span class="nav-main-link-badge badge rounded-pill bg-primary">3</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-main-item">
                            <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true"
                                aria-expanded="false" href="#">
                                <i class="nav-main-link-icon fa fa-code"></i>
                                <span class="nav-main-link-name">HTML Template</span>
                            </a>
                            <ul class="nav-main-submenu">
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="javascript:void(0)">
                                        <i class="nav-main-link-icon fa fa-pencil-alt"></i>
                                        <span class="nav-main-link-name">Description</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="javascript:void(0)">
                                        <i class="nav-main-link-icon fa fa-chart-pie"></i>
                                        <span class="nav-main-link-name">Statistics</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="javascript:void(0)">
                                        <i class="nav-main-link-icon fa fa-chart-line"></i>
                                        <span class="nav-main-link-name">Sales</span>
                                        <span class="nav-main-link-badge badge rounded-pill bg-primary">741</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="javascript:void(0)">
                                        <i class="nav-main-link-icon far fa-image"></i>
                                        <span class="nav-main-link-name">Media</span>
                                        <span class="nav-main-link-badge badge rounded-pill bg-primary">5</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="javascript:void(0)">
                                        <i class="nav-main-link-icon far fa-file"></i>
                                        <span class="nav-main-link-name">Files</span>
                                        <span class="nav-main-link-badge badge rounded-pill bg-primary">1</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-main-item">
                            <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true"
                                aria-expanded="false" href="#">
                                <i class="nav-main-link-icon fab fa-youtube-square"></i>
                                <span class="nav-main-link-name">Video Template</span>
                            </a>
                            <ul class="nav-main-submenu">
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="javascript:void(0)">
                                        <i class="nav-main-link-icon fa fa-pencil-alt"></i>
                                        <span class="nav-main-link-name">Description</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="javascript:void(0)">
                                        <i class="nav-main-link-icon fa fa-chart-pie"></i>
                                        <span class="nav-main-link-name">Statistics</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="javascript:void(0)">
                                        <i class="nav-main-link-icon fa fa-chart-line"></i>
                                        <span class="nav-main-link-name">Sales</span>
                                        <span class="nav-main-link-badge badge rounded-pill bg-primary">820</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="javascript:void(0)">
                                        <i class="nav-main-link-icon far fa-image"></i>
                                        <span class="nav-main-link-name">Media</span>
                                        <span class="nav-main-link-badge badge rounded-pill bg-primary">4</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="javascript:void(0)">
                                        <i class="nav-main-link-icon far fa-file"></i>
                                        <span class="nav-main-link-name">Files</span>
                                        <span class="nav-main-link-badge badge rounded-pill bg-primary">1</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-main-item">
                            <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true"
                                aria-expanded="false" href="#">
                                <i class="nav-main-link-icon fab fa-app-store"></i>
                                <span class="nav-main-link-name">Web Application</span>
                            </a>
                            <ul class="nav-main-submenu">
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="javascript:void(0)">
                                        <i class="nav-main-link-icon fa fa-pencil-alt"></i>
                                        <span class="nav-main-link-name">Description</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="javascript:void(0)">
                                        <i class="nav-main-link-icon fa fa-chart-pie"></i>
                                        <span class="nav-main-link-name">Statistics</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="javascript:void(0)">
                                        <i class="nav-main-link-icon fa fa-chart-line"></i>
                                        <span class="nav-main-link-name">Sales</span>
                                        <span class="nav-main-link-badge badge rounded-pill bg-primary">150</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="javascript:void(0)">
                                        <i class="nav-main-link-icon far fa-image"></i>
                                        <span class="nav-main-link-name">Media</span>
                                        <span class="nav-main-link-badge badge rounded-pill bg-primary">3</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="javascript:void(0)">
                                        <i class="nav-main-link-icon far fa-file"></i>
                                        <span class="nav-main-link-name">Files</span>
                                        <span class="nav-main-link-badge badge rounded-pill bg-primary">2</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-main-item">
                            <a class="nav-main-link" href="javascript:void(0)">
                                <i class="nav-main-link-icon fa fa-plus-circle"></i>
                                <span class="nav-main-link-name">New Product</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-main-item">
                    <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true"
                        aria-expanded="false" href="#">
                        <i class="nav-main-link-icon fa fa-money-bill"></i>
                        <span class="nav-main-link-name">Payments</span>
                    </a>
                    <ul class="nav-main-submenu">
                        <li class="nav-main-item">
                            <a class="nav-main-link" href="javascript:void(0)">
                                <span class="nav-main-link-name">Scheduled</span>
                                <span class="nav-main-link-badge badge rounded-pill bg-success">2</span>
                            </a>
                        </li>
                        <li class="nav-main-item">
                            <a class="nav-main-link" href="javascript:void(0)">
                                <span class="nav-main-link-name">Recurring</span>
                            </a>
                        </li>
                        <li class="nav-main-item">
                            <a class="nav-main-link" href="javascript:void(0)">
                                <span class="nav-main-link-name">Manage</span>
                            </a>
                        </li>
                        <li class="nav-main-item">
                            <a class="nav-main-link" href="javascript:void(0)">
                                <i class="nav-main-link-icon fa fa-plus-circle"></i>
                                <span class="nav-main-link-name">New Payment</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-main-item">
                    <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true"
                        aria-expanded="false" href="#">
                        <i class="nav-main-link-icon fa fa-globe"></i>
                        <span class="nav-main-link-name">Services</span>
                    </a>
                    <ul class="nav-main-submenu">
                        <li class="nav-main-item">
                            <a class="nav-main-link" href="javascript:void(0)">
                                <span class="nav-main-link-name">Hosting</span>
                            </a>
                        </li>
                        <li class="nav-main-item">
                            <a class="nav-main-link" href="javascript:void(0)">
                                <span class="nav-main-link-name">Web Design</span>
                            </a>
                        </li>
                        <li class="nav-main-item">
                            <a class="nav-main-link" href="javascript:void(0)">
                                <span class="nav-main-link-name">Web Development</span>
                            </a>
                        </li>
                        <li class="nav-main-item">
                            <a class="nav-main-link" href="javascript:void(0)">
                                <span class="nav-main-link-name">Graphic Design</span>
                            </a>
                        </li>
                        <li class="nav-main-item">
                            <a class="nav-main-link" href="javascript:void(0)">
                                <span class="nav-main-link-name">Legal</span>
                            </a>
                        </li>
                        <li class="nav-main-item">
                            <a class="nav-main-link" href="javascript:void(0)">
                                <span class="nav-main-link-name">Consulting</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-main-heading">Personal</li>
                <li class="nav-main-item">
                    <a class="nav-main-link" href="javascript:void(0)">
                        <i class="nav-main-link-icon far fa-user-circle"></i>
                        <span class="nav-main-link-name">Profile</span>
                    </a>
                </li>  {% endcomment %}
            </ul>
        </div>
        <!-- END Navigation -->
    </div>
</div>


